
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;
@{
    ViewData["Title"] = "Adminpage";
}

<h1>Adminpage</h1>
<br />
<div>
    <h1>Sistema Electoral</h1>
    <p>
    </p>
    <p>
        
        <a href="#" class="btn btn-secondary my-4">Candidatos</a>
        <a href="#" class="btn btn-secondary  my-2">Partido</a>
        <a href="#" class="btn btn-secondary my-2">Puesto Electivo</a>
        <a href="#" class="btn btn-secondary  my-2">Ciudadanos</a>
        <a href="#" class="btn btn-secondary my-2">Elecciones</a>
    </p>

</div>
