@model Ciudadanos
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">



    <h1>Sistema Electoral</h1>
    <p class="lead text-muted">
        "Bienvenido al sistema de votos automatizados, Ingrese como admin al sistema o ingrese su voto como civil"
    </p>
    <p>

        <a asp-action="Login" asp-controller="account" class="btn btn-primary my-2"><i style="font-size: 30px;"  class="fa fa-lock" aria-hidden="true"> </i>Log in Admin </a>

    </p>
    <div class="card-body">
        <form asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula">Introdusca su Cedula</label>
                <input asp-for="Cedula" typeof="Number" class="form-control" id="InputCedula">
                <span asp-validation-for="Cedula" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-danger">Continuar</button>
        </form>
        





        @*<form action="Home/Index " method="post">
            <label for="id">Introdusca su Cedula <a /> </label>
            <input id="id" type="number" name="Ced" value="" />
            <button type="submit"> Continuar </button>
        </form>*@
    </div>
    
</div>
